@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../fonts/fonts.css");
@import url("../cursors/cursors.css");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Avenir LT Pro", Roboto;
  margin: 0px;
}

#PubM {
  border: black 2px solid;
  padding: 1px;
  border-radius: 10px;
  color: brown;
  margin: 10px;
}

marquee {
  text-align: center;
}

header {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  color: #eef;
  transition: color 0.4s, background-color 0.5s;
}

header.light {
  color: #eef;
}

header.dark {
  color: rgb(69, 69, 82);
}

#logo {
  font-family: TESLA;
  font-size: 15px;
  letter-spacing: 9px;
}

header nav {
  display: flex;
  height: 60px;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 0px;
  z-index: 0;
}

header nav.left {
  left: 30px;
}

header nav.right {
  right: 30px;
}

header nav.burger {
  right: 10px;
}

header nav.center {
  left: 50vw;
  transform: translateX(-50%);
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 3px;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  padding: 0.4vw calc(2vw - 17px);
  color: inherit;
  border-radius: 4px;
  z-index: 2;
}

nav.burger a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 15px;
  color: inherit;
  border-radius: 4px;
}

nav a:hover {
  backdrop-filter: blur(4px);
  background-color: rgba(204, 166, 166, 0.148);
}
header:has(a:hover),
header:has(.Menu_langue:hover),
header:has(#burger-menu:hover) {
  background-color: rgb(255, 255, 255);
  color: #223;
}

/*
============= SECTIONS =============
*/

#fullpage {
  display: block;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

#fullpage::-webkit-scrollbar {
  display: none;
}

section {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: start;
  background-position: center;
  scroll-snap-stop: always;
}

section.one {
  background-image: url(../img/4.avif);
}

section.two {
  background-image: url(../img/2.avif);
}

section.three {
  background-image: url(../img/7.avif);
}

section.four {
  background-image: url(../img/6.avif);
}

section.section > .content {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

section.section.light > .content {
  color: #224;
}

section.section.dark > .content {
  color: #eef;
}

section.section > .bg-video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: block;
  z-index: 1;
}

section.section > .bg-video > video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: block;
}

.Model {
  font-family: "Avenir LT Pro Black";
  text-align: center;
  font-size: 20px;
  position: relative;
  top: 20%;
}

.ModelV {
  margin: 10px;
  text-align: center;
  font-size: 45px;
  position: relative;
  top: 5px;
}

.ChR {
  text-align: center;
  font-size: 70%;
}

.ChR a:hover {
  text-decoration: underline;
}

.ChR a {
  text-decoration: none;
  color: inherit;
}

.boutons {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 20px;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.bouton {
  padding: 7px 70px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  box-sizing: border-box;
}
.rightT {
  padding: 7px 10px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 15%;
  left: 95%;
  transform: translateX(-50%);
}

.bouton.plein {
  background-color: #fff;
  color: black;
  border: 2px solid #fff;
}

.bouton.vide {
  background-color: rgba(23, 26, 42, 0.25);
  color: #fff;
  border: 2px solid rgba(23, 26, 42, 0.8);
}
.Timg {
  background-image: url(../img/T.avif);
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 47.5%;
  width: 8%;
  height: 110%;
  padding: 7px 7px;
  border-radius: 10px;
  filter: grayscale(40%);

  transition: transform 0.5s;
}
.Timg:hover {
  transform: scale(1.1);
}

#burger-menu {
  display: none;
  position: absolute;
  top: 57%;
  right: -13%;
  width: 250px;
  height: auto;
  z-index: -1;
}

.menu:hover #burger-menu {
  display: block;
}

#burger-menu {
  padding: 25px;
  background-color: rgb(255, 255, 255);
  color: #223;
  border-radius: 0% 0% 6px 6px;
}
#burger-menu li {
  padding: 20px;
}
.Menu_langue {
  display: none;
  position: absolute;
  top: 77%;
  right: -13%;
  width: 200px;
  height: auto;
  z-index: -1;
}

.langue:hover .Menu_langue {
  display: block;
}

.Menu_langue {
  padding: 25px;
  backdrop-filter: blur(4px);
  background-color: rgb(255, 255, 255);
  color: #223;
  border-radius: 0% 0% 6% 6px;
}
.Menu_langue li {
  padding: 10px;
}
.Menu_langue li:last-child {
  border-bottom: none;
}
.TOPF {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

.TOPF:hover {
  opacity: 1;
}

.Menu_langueBg {
  display: none;
  max-height: 150px;
}
/*
====== RESP ======

*/
header nav.burger {
  display: none;
}
@media (max-width: 1100px) {
  header nav.center,
  header nav.right {
    display: none;
  }

  header nav.burger {
    display: flex;
  }
}
